:root {
  --primary-color:black;
  --secondary-color: #3a4750;
  --third-color:#d72323;
  --fourth-color: #eeeeee;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Lemonada', cursive; */
  margin: 0; 
  padding: 0;
  line-height: 1.5;
}

/* background image */
#background-img {
  background: url(../img/minimalist_background.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home-body {
  display: flex;
  flex-direction: column;
}

/* home heading */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#home h1 {
  margin-top: 57vh;
  color: var(--fourth-color);
  font-weight: 400; 
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#home h2 {
  margin: 0 4rem;
  display: inline;
  text-align: center;
  min-width: 200px;
  color: var(--fourth-color);
  border: 3px solid var(--third-color);
  border-collapse: collapse;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: lowercase;
}

/* icons */
#home .icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin-top: 1.5rem
}

#home .icons a {
  padding-right: 1rem;
  color: var(--fourth-color);
}

#home .icons i:hover{
  color: var(--third-color);
  transform: scale(1.1, 1.1);
}

/* top section  */
.top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  transform: translate3d(0, -100%, 0);
  transition: all .5s ease-out;
}

.top.open {
  display: inline-block;
  transform: translate3d(0, 0, 0);
}

.nav-list {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin: 2rem;
  text-align: center;
}

.nav-item a{
  color: var(--third-color);
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s ease-out;
}

.nav-item.current a{
  color: var(--fourth-color);
}

.nav-item a:hover{
  color: var(--fourth-color);
}

/* nav bottom */
.nav-btn {
  position: fixed;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line{
  width: 28px;
  height: 4px;
  margin: 0 0 7px 0;
  background-color: var(--third-color);
  transition: all 0.5s ease-out;;
}

.btn-line:nth-child(1){
  width: 17px;
}

.btn-line:nth-child(2){
  width: 28px;
}

.btn-line:nth-child(3){
  width: 17px;
  margin-left: 11px;
}

.btn-line:hover {
  height: 
}

.nav-btn.open .btn-line:nth-child(1) {
  width: 28px;
  transform: rotate(45deg) translate(8px, 5px); 
}
.nav-btn.open .btn-line:nth-child(2) {
  opacity: 0;
}
.nav-btn.open .btn-line:nth-child(3) {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -15px); 
}

/* about page */
.about-body {
  background-color: var(--primary-color);
}

.about-main {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.showcase-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.about-info { 
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  width: 65%;
  margin: 2rem auto;
  color: var(--fourth-color)
}

.sm-heading {
  color: var(--third-color);
  font-weight: bolder;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.lg-heading {
  font-weight: 900;
  font-size: 3rem;
  color: var(--fourth-color);
}

.bio h2 {
  font-weight: bold;
}

.bio p {
  font-size: 1.1rem;
}

.skills {
  padding: 0 3.8rem;
}

.skills img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease-out;
}

.skills img:hover {
  background-color: #af8b8b3d;
  transform: scale(1.05, 1.05);
}

.job {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem; 
}


/* footer */
#main-footer {
  text-align: center;
  padding: 1rem;
  background:black;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100;
  text-align: center;
}


@media screen and (min-width: 1171px) {

}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  
}

@media screen and (max-width: 768px) {
  .btn-line {
    background-color: white;
  }
}

@media screen and (max-width: 500px) {

}
